.env
.env.*
.DS_Store

.idea/
.vscode/

node_modules/
pakupaku-frontend/node_modules/

venv/
.venv/
.venv-1/
pakupaku-frontend/venv/

build/
dist/
dist-backend/

__pycache__/
*.pyc

pakupaku-frontend/build/
pakupaku-frontend/.DS_Store
pakupaku-frontend/PakuPaku-test.zip
